h1{
	text-align: center;
}

#sakk:hover{
	transform: scale(1.05);
	transition: 0.75s;
}

#sakk{
	transition: 0.75s;
	margin: 0 auto;
	display: block;
}

.kep{
	width: 100%;
	height: 15vh;
	border-radius: 100%;
	background-size: cover;
}